.top-img{
    background-color: #e6e8fd;
    padding-top:70px;
}

.bg-tester1{
    background-color: red;
}


.bg-tester{
    background-color: yellow;
}


.logo-container {
    background-color: rgba(91, 79, 194, 0.99);
    color: #FFF;
}

.logo {
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    margin-left: 2.5rem;
}

h1 {
    margin: 2rem;
    text-align: center;
}

.thead-hover {
    pointer-events: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.sethover:not(.nohover):hover {
    border: 1px solid red;
}

.logo:link {
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}




/****DASHBOARD STYLE****/

.dash-canva{
    margin: 3px;

}