/*General style*/
*{
    margin:0;
    padding: 0;
}

html, body{
    height: 100%;
}

#body-container{
    min-height: 100%;

}

#body-main{
    overflow: auto;
    padding-bottom: 100px;
}

.top-img {
    background-color: #e6e8fd;
    padding-top: 70px;
}

.bg-tester1 {
    background-color: red;
}


.bg-tester {
    background-color: yellow;
}


.logo-container {
    background-color: rgba(91, 79, 194, 0.99);
    color: #FFF;
}

.logo {
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    margin-left: 2.5rem;
}

h1 {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.thead-hover {
    pointer-events: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.sethover:not(.nohover):hover {
    border: 1px solid red;
}

.logo:link {
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}

.top-title{
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(161, 167, 231, 0.48);
}

/****FORM STYLE****/
.scrollable {
    min-height: 300px;
    overflow: scroll;
}
.text-er{
    font-size: 15px;
}

.message-success{
    color: darkgreen;
    font-size: 20px;
}

table th {
    position: sticky;
    top: 0px;
    background: rgba(91, 79, 194, 0.99);
    color: #e6e8fd;

}
.disabled {
    pointer-events: none;  /* <----------- */
    opacity: 0.2;
}

/****RSS TITLE****/
.rss-title{
    color: rgba(91, 79, 194, 0.99);
}
.rss-title:hover{
       color: rgba(162, 0, 156, 0.99);
       text-decoration: none;
   }


/****DASHBOARD STYLE****/

.dash-canva {
    margin: 3px;

}

.canvas {

    width: 100%;
    height: 100%;
    position: absolute;
}

/****TABLE STYLE****/

table, td{
    text-align: center;
    vertical-align: middle;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

tr{
    font-size: 1rem;
}



/* btns */


.update-btn{
    background: rgba(91, 79, 194, 0.99);
    border-radius: 999px;
    box-shadow: rgba(91, 79, 194, 0.99) 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Montserrat, Arial;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.update-btn:hover{
    background: rgba(162, 0, 156, 0.99);
    color: #FFFFFF;

}

.delete-btn{
    background: #f05dab;
    border-radius: 999px;
    box-shadow: #e15df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Montserrat, Arial;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

/* search field */

.input-group{
    margin-right: 10px;
}


/*ERROR PAGE*/

.error-title {
    font-size: 4.5rem;
}

.error-msg {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: #a1a7e7;

}

.error-type {
    text-align: center;
    color: darkgrey;
}

.error-img {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*FOOTER*/

#footer{

    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}